**Q1. What is a database? Differentiate between SQL and NoSQL databases.**

A **database** is a collection of organized and structured data that can be accessed, managed, and updated easily. It is used to store and manage data, making it easier to retrieve, manipulate, and analyze information.

**SQL (Structured Query Language)** and **NoSQL (Not only SQL)** are two different types of databases. **SQL** databases are relational databases that use a predefined schema and store data in tables with rows and columns. They are great for structured data and are ideal for applications that require complex querying and transactions. Examples of SQL databases include MySQL, Oracle, and PostgreSQL.

On the other hand, **NoSQL** databases are non-relational databases that can store data in a variety of formats such as document, key-value, column-family, and graph. They are designed to handle unstructured and semi-structured data that does not fit neatly into tables. NoSQL databases are highly scalable and flexible and can handle large amounts of data. Examples of NoSQL databases include MongoDB, Cassandra, and Amazon DynamoDB.

**Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.**

DDL stands for Data Definition Language, and it is a set of SQL statements used to define and manage the structure of database objects such as tables, indexes, views, and sequences. The four main DDL statements in SQL are CREATE, DROP, ALTER, and TRUNCATE.

1. **CREATE**: The CREATE statement is used to create a new database object such as a table, view, or index. For example, the following SQL statement creates a new table named "customers" with four columns: id, name, email, and phone.


*CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(50) NOT NULL,
  email VARCHAR(50) NOT NULL,
  phone VARCHAR(15)
);*

2. **DROP**: The DROP statement is used to delete an existing database object. For example, the following SQL statement drops the "customers" table:

*DROP TABLE customers;*

3. **ALTER**: The ALTER statement is used to modify an existing database object such as a table, view, or index. For example, the following SQL statement adds a new column named "address" to the "customers" table:

*ALTER TABLE customers
<br>ADD address VARCHAR(100);*

4. **TRUNCATE**: The TRUNCATE statement is used to remove all the data from a table while keeping its structure intact. For example, the following SQL statement deletes all the data from the "customers" table:

*TRUNCATE TABLE customers;*

**Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.**

DML stands for Data Manipulation Language, and it is a set of SQL statements used to manipulate data within database objects such as tables. The three main DML statements in SQL are INSERT, UPDATE, and DELETE.

1. **INSERT**: The INSERT statement is used to insert new data into a table. For example, the following SQL statement inserts a new record into the "customers" table:

    *INSERT INTO customers (id, name, email, phone) VALUES (1, 'John Doe', 'john@example.com', '123-456-7890');*


2. **UPDATE**: The UPDATE statement is used to modify existing data within a table. For example, the following SQL statement updates the phone number of a customer with id=1 in the "customers" table:

    *UPDATE customers SET phone='555-555-5555' WHERE id=1;*


3. **DELETE**: The DELETE statement is used to delete data from a table. For example, the following SQL statement deletes a customer with id=1 from the "customers" table:

    *DELETE FROM customers WHERE id=1;*

**Q4. What is DQL? Explain SELECT with an example.**

DQL stands for Data Query Language, and it is a set of SQL statements used to retrieve data from a database. The main DQL statement in SQL is SELECT.

SELECT is used to retrieve data from one or more tables in a database. For example, the following SQL statement retrieves all the data from the "customers" table:

*SELECT * FROM customers;*

**Q5. Explain Primary Key and Foreign Key.**

In a relational database, a primary key and a foreign key are used to establish relationships between two or more tables.

A primary key is a unique identifier for a record or row in a table. It is a column or a set of columns that uniquely identifies each record in the table. A primary key cannot contain NULL values and must have a unique value for each record. By defining a primary key, we ensure that each record in the table is uniquely identifiable and that it can be easily referenced by other tables in the database.

A foreign key is a field in a table that refers to the primary key of another table. It is used to establish a link or relationship between two tables. A foreign key can be defined in a table to enforce referential integrity between two tables. This means that the values in the foreign key column must match the values in the primary key column of the referenced table, or they must be NULL.

**Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.**

In [8]:
'''
import mysql.connector

# create a connection to the MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a SQL query
mycursor.execute("SELECT * FROM customers")

# fetch the results
results = mycursor.fetchall()

# print the results
for result in results:
  print(result) '''
pass

The cursor() method is used to create a cursor object that can execute SQL queries and fetch the results. The cursor object allows us to execute SQL queries and fetch the results row by row.

The execute() method is used to execute SQL queries. The SQL query is passed as an argument to the execute() method. The execute() method returns None if the query doesn't return any results. If the query returns results, we need to fetch the results using the fetchall() method or other fetch methods.

**Q7. Give the order of execution of SQL clauses in an SQL query.**

The order of execution of SQL clauses in an SQL query is as follows:

- **FROM**: Specifies the table or tables from which to retrieve data.
- **JOIN**: Joins the tables based on a specified condition.
- **WHERE**: Filters the rows based on a specified condition.
- **GROUP BY**: Groups the rows based on a specified column or set of columns.
- **HAVING**: Filters the groups based on a specified condition.
- **SELECT**: Retrieves the specified columns or expressions from the rows or groups.
- **ORDER BY**: Sorts the result set based on a specified column or set of columns.