In [2]:
def test():
    pass

In [4]:
def test1():
    print("This is my first function!!")

test1()

This is my first function!!

In [6]:
test1() + "Anushka" 
# return value of function is none because we have used print here

This is my first function!!

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [7]:
def test2():
    return "this is my function without print"

In [9]:
test2() + " Anushka here"

'this is my function without print Anushka here'

In [10]:
def test3():
    return 1,4,"anu" #can return multiple datatype

In [11]:
test3()

(1, 4, 'anu')

In [13]:
type(test3()) #multiple datatype is returned in form of tuple

tuple

In [14]:
def test4():
    a = 3*4+5
    return a

test4()

17

In [15]:
type(test4())

int

In [16]:
def test5(a, b):
    c = a+b
    return c

test5(3,7)

10

In [17]:
test5("anu","rajput")

'anurajput'

In [18]:
test5([1,2,3,4],[5,6,7,8,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
test5(b = " Rajput", a = "Anushka")

'Anushka Rajput'

In [24]:
l = [1,2,3,4,5,"anu","data","datascience",[12,23,34,42,5]]

In [25]:
# create a function which will take list as a input and give me a final list with all numeric value

In [26]:
def test6(a):
    n = []
    for i in a:
        if type(i)==int or type(i)==float:
            n.append(i)
    return n

test6(l)

[1, 2, 3, 4, 5]

In [27]:
l

[1, 2, 3, 4, 5, 'anu', 'data', 'datascience', [12, 23, 34, 42, 5]]

In [30]:
def test7(a):
    n = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j)==int or type(j)==float:
                    n.append(j)
        else:
            if type(i)==int or type(i)==float:
                n.append(i)
    return n


test7(l) #function call

[1, 2, 3, 4, 5, 12, 23, 34, 42, 5]