## Control flow
### Decision Making Statements

In [1]:
## If statements
age = 21
if age >= 18:
    print("Legal to Vote!!")

Legal to Vote!!

In [2]:
## If-else statements
age = 21
if age >= 18:
    print("Legal to Vote!!")
else:
    print("Wait a few more years to vote")

Legal to Vote!!

In [3]:
## Task
## Take a input of age
## check where age >= 18 and age<=45
## display a message you are young blood

age = int(input("Enter age: "))
if age>=18 and age<=45:
    print("You are Young Blood")

Enter age: 21
You are Young Blood

In [4]:
## mall - input the product price
## product >1000 rs 20% off
## print the product price after removing the discount
## product <=1000 rs 30% off
## print the product price after removing the discount

In [6]:
product_price = int(input("Enter the price"))
if product_price>1000:
    print("The price of the product is {}".format(product_price*0.8))
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price1100
The price of the product is 880.0

In [7]:
product_price=int(input("Enter the price"))
if product_price>1000:
    print(f"The price of the product is {product_price*0.8}")
else:
    print("The price of the product is {}".format(product_price*0.7))

Enter the price1100
The price of the product is 880.0

In [8]:
## mall - input the product price
## product >3000 rs 20% off
## price is ==4000 you get a trip to Goa
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing the discount
## price ==2999  u will get adiitional gift
## product 100 rs and <=2000 40% off
## print the product price after removing the discount

In [12]:
pp = int(input("Enter the product price: "))
if pp>3000:
    if pp==4000:
        print("You get a Goa Trip!!")
    print(f"The price of the product is {pp*0.8}")
elif pp>=2000 and pp<=3000:
    if pp==2999:
        print("You will get additional gift")
    print(f"The price of product is {pp*0.7}")
elif pp>=100 and pp<=2000:
    print(f"The price of product is {pp*0.4}")
else:
    print("Lets drink tea")

Enter the product price: 30000
The price of the product is 24000.0

In [13]:
## Single statement Suites
val = int(input('Enter the number: '))
if(val<=999):
    print("Value is less than equal to 999")
else:
    print("Go Home")

Enter the number: 1100
Go Home

## Loops statements
1. While Loop
2. For Loop
3. Nested Loop
4. Loop Control (break, continue, pass)

In [14]:
# while loop while-else
joining_age = 25
while joining_age<=60:
    print(joining_age)
    joining_age = joining_age+1
else:
    print("Its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for retirement

In [15]:
### ATM machine with 1000 rs
total_amount=1000
while total_amount != 0:
    print(total_amount)
    total_amount = total_amount-100
else:
    print("Put more money bank people")
    
print("Hello All")

1000
900
800
700
600
500
400
300
200
100
Put more money bank people
Hello All

## For Loop

In [19]:
lst = ["Anushka",1,2,3,4,"apple","banana"]
type(lst)

list

In [20]:
lst[4]

4

In [21]:
lst

['Anushka', 1, 2, 3, 4, 'apple', 'banana']

In [22]:
for x in lst:
    print(x)

Anushka
1
2
3
4
apple
banana

In [23]:
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [24]:
for a in fruits_list:
    print(a)
    if a=="Cherry":
        print("The fruit is cherry")

Mango
Cherry
The fruit is cherry
Apple
Papaya
Banana

In [25]:
fruit = 'mango'
for x in fruit:
    print(x)

m
a
n
g
o

In [26]:
fruit[2]

'n'

In [27]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [28]:
for i in range(0,7,2):
    print(i)

0
2
4
6

In [29]:
## Nested loops
n = 7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [30]:
## Loop controls
## Break and continue
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)

Mango
Cherry
The fruit is apple

In [31]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        pass
    print(i)

Mango
Cherry
The fruit is apple
Apple
Papaya
Banana

In [32]:
##continue
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        continue
    print(i)

Mango
Cherry
The fruit is apple
Papaya
Banana