#### Tuples basically follows immutability concept in which it doesnt change any element in particular index

In [1]:
t = ()

In [2]:
type(t)

tuple

In [6]:
t1 = (1,2,3,4,5,"anu",True)

In [4]:
type(t1)

tuple

In [5]:
lst = [1,2,3,4]

In [6]:
type(lst)

list

In [7]:
t1

(1, 2, 3, 4, 5, 'anu', True)

In [8]:
t1[0]

1

In [10]:
t1[6]

True

In [11]:
t1[1:]

(2, 3, 4, 5, 'anu', True)

In [12]:
t1[::-1]

(True, 'anu', 5, 4, 3, 2, 1)

In [15]:
t1.count(5) #how many 5 has appeared in tuple

1

In [16]:
t1.count(0)

0

In [18]:
t1.index(1) # index of 1 is 0

0

In [19]:
t1.index("anu")

5

In [20]:
t1[0] = 345 #tuple doesn't support mutability

TypeError: 'tuple' object does not support item assignment

In [22]:
lst[0] = 345 #list is mutuable
lst

[345, 2, 3, 4]

In [23]:
for i in t1:
    print(i)

1
2
3
4
5
anu
True

In [24]:
for i in t1:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
anu <class 'str'>
True <class 'bool'>

In [25]:
t2 = (1,2,3,4,5)

In [26]:
t2*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [27]:
max(t2)

5

In [28]:
min(t2)

1

In [30]:
t3 = (t1,t2)
t3

((1, 2, 3, 4, 5, 'anu', True), (1, 2, 3, 4, 5))

In [2]:
t4 = ((1,2,3),[45,34,23]) #list and tuple inside tuple

In [3]:
len(t4)

2

In [7]:
4 in t1

True

In [5]:
45 in t4

False