In [1]:
import pandas as pd

**Q1. List any five functions of the pandas library with execution.**

here are five common functions of the pandas library with examples:
1. **read_csv()**: Reads a CSV file and returns a DataFrame object.

In [3]:
df = pd.read_csv("players.csv")

2. **head()**: Returns the first n rows of a DataFrame.

In [4]:
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

3. **groupby()**: Groups the DataFrame by a column or columns and applies a function to each group.

In [11]:
grouped = df.groupby('Age')
grouped.first()

,Rk,Player,Pos,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
Age,,,,,,,,,,,,,,,,,,,,,
19,78,Bruno Caboclo,SF,TOR,8,0,23,4,12,.333,...,.625,1,1,2,0,0,1,4,3,10
20,2,Jordan Adams,SG,MEM,30,0,248,35,86,.407,...,.609,9,19,28,16,16,7,14,24,94
21,3,Steven Adams,C,OKC,70,67,1771,217,399,.544,...,.502,199,324,523,66,38,86,99,222,537
22,32,Harrison Barnes,SF,GSW,82,82,2318,316,656,.482,...,.720,117,336,453,116,61,19,71,146,827
23,7,Furkan Aldemir,PF,PHI,41,9,540,40,78,.513,...,.481,78,98,176,28,17,16,17,96,93
24,1,Quincy Acy,PF,NYK,68,22,1287,152,331,.459,...,.784,79,222,301,68,27,22,60,147,398
25,10,Lavoy Allen,C,IND,63,0,1070,141,299,.472,...,.702,123,200,323,73,15,42,40,102,315
26,6,Alexis Ajinça,C,NOP,68,8,957,181,329,.550,...,.818,104,211,315,47,21,51,69,151,443
27,25,D.J. Augustin,PG,TOT,82,14,1964,258,647,.399,...,.868,20,141,161,353,49,3,145,93,777
28,4,Jeff Adrien,PF,MIN,17,0,215,19,44,.432,...,.579,23,54,77,15,4,9,9,30,60
29,5,Arron Afflalo,SG,TOT,78,72,2502,375,884,.424,...,.843,27,220,247,129,41,7,116,167,1035
30,19,Carmelo Anthony,SF,NYK,40,40,1428,358,806,.444,...,.797,72,192,264,122,40,17,89,87,966
31,129,Joey Dorsey,PF,HOU,69,17,854,80,145,.552,...,.289,103,176,279,25,40,25,41,157,184
32,13,Lou Amundson,PF,TOT,53,35,937,109,255,.427,...,.471,94,174,268,70,22,52,62,126,259
33,11,Tony Allen,SG,MEM,63,41,1648,225,455,.495,...,.627,103,177,280,86,129,30,86,166,539
34,33,Matt Barnes,SF,LAC,76,74,2271,277,624,.444,...,.779,51,251,302,114,67,50,87,240,764
35,61,Elton Brand,C,ATL,36,4,486,42,95,.442,...,.522,28,72,100,22,17,25,18,54,96
36,14,Chris Andersen,C,MIA,60,20,1132,120,207,.580,...,.667,76,223,299,43,26,61,40,88,320
37,173,Manu Ginóbili*,SG,SAS,70,0,1587,251,589,.426,...,.721,28,183,211,293,67,20,154,138,738
38,85,Vince Carter,SG,MEM,66,1,1091,135,406,.333,...,.789,27,106,133,79,43,14,43,102,384
Age,Rk,Player,Pos,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS

3. **len()**: length of the dataframe

In [12]:
len(df)

675

4. **unique()**: Returns the unique values in a column of a DataFrame.

In [17]:
unique_values = df['Tm'].unique()
print(unique_values)

['NYK' 'MEM' 'OKC' 'MIN' 'TOT' 'DEN' 'POR' 'NOP' 'PHI' 'IND' 'DAL' 'CLE'
 'MIA' 'BRK' 'SAS' 'MIL' 'DET' 'Tm' 'ATL' 'HOU' 'CHI' 'GSW' 'LAC' 'PHO'
 'BOS' 'WAS' 'UTA' 'SAC' 'CHO' 'LAL' 'TOR' 'ORL']

5. **sort_values()**: Sorts the rows of a DataFrame by one or more columns.

In [19]:
sorted_df = df.sort_values(["Age"], ascending=[True])
print(sorted_df)

      Rk          Player  Pos  Age   Tm   G  GS    MP   FG   FGA  ...   FT%  \
460  357   Jabari Parker   PF   19  MIL  25  25   738  129   263  ...  .697
621  456     Noah Vonleh   PF   19  CHO  25   0   259   30    76  ...  .692
641  473  Andrew Wiggins   SF   19  MIN  82  82  2969  497  1137  ...  .760
351  273     Zach LaVine   PG   19  MIN  77  40  1902  286   677  ...  .842
231  177    Aaron Gordon   PF   19  ORL  47   8   797   93   208  ...  .721
..   ...             ...  ...  ...  ...  ..  ..   ...  ...   ...  ...   ...
235   Rk          Player  Pos  Age   Tm   G  GS    MP   FG   FGA  ...   FT%
97    Rk          Player  Pos  Age   Tm   G  GS    MP   FG   FGA  ...   FT%
361   Rk          Player  Pos  Age   Tm   G  GS    MP   FG   FGA  ...   FT%
628   Rk          Player  Pos  Age   Tm   G  GS    MP   FG   FGA  ...   FT%
183   Rk          Player  Pos  Age   Tm   G  GS    MP   FG   FGA  ...   FT%

     ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
460   50   88  138   42   31    5   47   42   308
621   28   58   86    4    4    9   11   20    83
641  134  240  374  170   86   50  177  190  1387
351   27  187  214  276   54   10  193  158   778
231   46  123  169   33   21   22   38   83   243
..   ...  ...  ...  ...  ...  ...  ...  ...   ...
235  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
97   ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
361  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
628  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS
183  ORB  DRB  TRB  AST  STL  BLK  TOV   PF   PTS

[675 rows x 30 columns]

**Q.2 Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.**

In [20]:
def reindex_dataframe(df):
    # Get the number of rows in the DataFrame
    num_rows = df.shape[0]
    
    # Create a new index that starts from 1 and increments by 2
    new_index = pd.Index(range(1, num_rows*2, 2))
    
    # Re-index the DataFrame
    df_reindexed = df.set_index(new_index)
    
    return df_reindexed

In [22]:
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df_reindexed = reindex_dataframe(df1)
print(df_reindexed)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9