**Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [9]:
import pandas as pd
df = pd.Series([4, 8, 15, 16, 23, 42])
df

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

**Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.**

In [10]:
lst = ['a','b','c','d','e','f','g','h','i','j']
s = pd.Series(lst)
print(s)

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

**Q3. Create a Pandas DataFrame that contains the following data:**

In [36]:
data = {
    "Name":["Alice","Bob","Claire"],
    "Age":[25,30,27],
    "Gender":["Female","Male","Female"]
}

In [37]:
df1 = pd.DataFrame(data)
df1

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or a SQL table, and it can be thought of as a collection of Pandas Series objects that share the same index. Each column in a DataFrame is a Series object.

In [27]:
import pandas as pd

# create a dictionary of data
data = {'name': ['Alice', 'Bob', 'Charlie'],
        'age': [25, 30, 35],
        'city': ['New York', 'Paris', 'London']}

# create a DataFrame from the dictionary
df = pd.DataFrame(data)

# create a Series from one column of the DataFrame
age_series = df['age']

# print the DataFrame
print("Printing DataFrame...")
print(df)

# print the Series
print("Printing Series...")
print(age_series)

Printing DataFrame...
      name  age      city
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London
Printing Series...
0    25
1    30
2    35
Name: age, dtype: int64

**Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?**

Pandas provides a variety of functions to manipulate data in a DataFrame. Some common functions include:

1. **head() and tail()**: to display the first or last n rows of the DataFrame.

In [38]:
df.head() # returns the first 5 rows of the DataFrame
df.tail(3) # returns the last 3 rows of the DataFrame

  name   city
1  Bob  Paris

2. **describe()**: to get summary statistics of the DataFrame.

In [39]:
df.describe() # returns summary statistics of the numerical columns in the DataFrame

       name   city
count     1      1
unique    1      1
top     Bob  Paris
freq      1      1

3. **drop()**: to drop rows or columns from the DataFrame.

In [42]:
# drops the 'age' column from the DataFrame
df = df.drop(columns=['name'])

4. **fillna()**: to fill missing values in the DataFrame.

In [43]:
df = df.fillna(0) 
# fills all missing values in the DataFrame with 0

**Q6. Which of the following is mutable in nature Series, DataFrame, Panel?**

Both Series and DataFrame are mutable in nature, which means that their values can be modified after creation.

However, Panel has been deprecated since version 0.25.0 of pandas, and its functionality has been incorporated into the MultiIndex feature of DataFrame. But historically, Panel was also mutable in nature.

**Q7. Create a DataFrame using multiple Series. Explain with an example.**

In [46]:
import pandas as pd

# create three Series
name = pd.Series(['Alice', 'Bob', 'Charlie'])
age = pd.Series([25, 30, 35])
salary = pd.Series([50000, 60000, 70000])

# combine the Series into a DataFrame
df2 = pd.DataFrame({'Name': name, 'Age': age, 'Salary': salary})

# print the resulting DataFrame
print(df2)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000